# Auto detect text files and perform LF normalization
-* text=auto
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum consectetur quam, in mollis diam rhoncus vel. Nam sit amet dignissim eros. Vestibulum venenatis faucibus arcu non luctus. Integer eu ex bibendum arcu vestibulum cursus a nec dolor. Phasellus ut est finibus, condimentum leo a, vehicula massa. Curabitur sollicitudin tortor vel eros suscipit molestie. Phasellus ut libero massa. Ut cursus velit et massa consequat, quis molestie tellus tincidunt. In varius pharetra nisl, rhoncus ullamcorper elit porta vel. Proin cursus tortor vel lacus lobortis, eget ornare justo accumsan. Donec eleifend auctor scelerisque. Curabitur eu tellus sollicitudin, hendrerit ante quis, convallis nunc.

Quisque et bibendum dui, sed pharetra eros. Vestibulum quis iaculis purus. Nunc posuere consectetur metus, sed iaculis lectus. Sed lacinia, metus varius commodo ullamcorper, lorem metus facilisis tellus, vel pretium urna ante quis dui. Aenean vestibulum, lorem et lacinia varius, ex est sodales dolor, sed lobortis ipsum tellus auctor orci. Cras urna massa, condimentum pulvinar lectus vel, lacinia imperdiet metus. Proin mattis vestibulum nisi nec placerat.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec id consectetur libero. Pellentesque sapien enim, condimentum vitae semper ut, ultricies vitae neque. Aliquam interdum commodo porta. Aliquam in malesuada justo. Nunc vitae tempor lacus. Vivamus massa lorem, faucibus accumsan elit eu, laoreet auctor nisi. Sed vitae tortor nibh. Vestibulum ornare, orci a facilisis porttitor, mi justo tristique nisi, eget auctor erat eros sed erat. Cras eget nibh a purus lobortis tempor et id eros. Nunc vitae cursus ante. In eu lacinia urna. In hac habitasse platea dictumst.

Sed ex diam, consectetur nec vehicula consequat, volutpat eget tellus. Duis augue lectus, sodales in hendrerit vel, tempor at felis. Cras gravida tincidunt mi, sit amet malesuada nisl tincidunt a. Vestibulum erat est, venenatis sed nisl eu, sodales suscipit sapien. Donec aliquet, nibh vitae laoreet bibendum, neque diam gravida leo, ut pretium felis nunc a felis. In placerat nisl a quam mollis, vel iaculis arcu finibus. Sed placerat, diam a mattis interdum, eros tellus viverra arcu, quis tempus est nisi vel ex. Integer diam odio, aliquet sed malesuada condimentum, faucibus vi